@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

$color: #d4d4d4;
$c600: #525252;
$c700: #404040;
$c800: #262626;
$c900: #171717;
$c950: #0a0a0a;
$font: 'Outfit';
$h-font: 'Outfit';
